# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\amald\OneDrive - Universidad Autonoma de San Luis Potosi - UASLP\Programación y diseño\Computer Graphics\Project\Main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
